<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>

<body>
    <h2>Register</h2>
    <form id="registerForm">
        <label>
            Name:
            <input type="text" name="name" required />
        </label><br><br>
        <label>
            Email:
            <input type="email" name="email" required />
        </label><br><br>
        <button id="register" type="submit">Register</button>
    </form>

    <p id="responseMessage"></p>

    <script>
        const form = document.getElementById('registerForm');
        const responseMessageElement = document.getElementById('responseMessage');
        const registerButton = document.getElementById('register');

        form.addEventListener('submit', async (e) => {
            e.preventDefault();
            registerButton.disabled = true;

            const formData = new FormData(form);
            const name = formData.get('name');
            const email = formData.get('email');

            try {
                const res = await fetch('/api/users/register', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ name, email })
                });

                const data = await res.json();

                if (res.ok) {
                    responseMessageElement.textContent = 'Registration successful!';
                    responseMessageElement.style.color = 'green';
                    form.reset();
                    localStorage.setItem('todo', JSON.stringify(data.user));
                    window.location.href = '/todo-list'
                } else {
                    responseMessageElement.textContent = data.error || 'Something went wrong';
                    responseMessageElement.style.color = 'red';
                }
            } catch (err) {
                responseMessageElement.textContent = 'Network error';
                responseMessageElement.style.color = 'red';
            } finally {
                registerButton.disabled = false;
            }
        });
    </script>
</body>

</html>